In [2]:
# Add the parent directory to the system path for proper module imports
import sys
sys.path.append("..")

In [3]:
# Import the function from the fetch_data.py file
from stock_data.fetch_data import fetch_stock_data
from stock_data.process_data import (
    extract_price_table,
    compute_daily_returns,
    compute_cumulative_returns,
    compute_rolling_volatility,
)

from datetime import datetime

In [4]:
# Define tickers and start date
tickers = ["AAPL", "MSFT", "NVDA", "AMZN", "SPOT"]
start_date = "2021-01-01"

# Fetch the data
raw_data = fetch_stock_data(tickers, start_date=start_date)

# Display the fetched data
raw_data.head()

Price        Date       Close                                                 \
Ticker                   AAPL        AMZN        MSFT       NVDA        SPOT
0      2021-01-04  125.974457  159.331497  208.882172  13.077456  311.000000
1      2021-01-05  127.531975  160.925507  209.083694  13.367905  313.720001
2      2021-01-06  123.239059  156.919006  203.662292  12.579828  314.239990
3      2021-01-07  127.444359  158.108002  209.457916  13.307323  331.359985
4      2021-01-08  128.544373  159.134995  210.734116  13.240255  353.109985

Price         High                                     ...        Open  \
Ticker        AAPL        AMZN        MSFT       NVDA  ...        AAPL
0       130.062953  163.600006  213.977324  13.614975  ...  129.975346
1       128.242606  161.169006  209.678619  13.406548  ...  125.468261
2       127.570927  159.875504  207.730746  13.208595  ...  124.329329
3       128.135516  160.427002  210.465436  13.340980  ...  124.952324
4       129.108977  159.531998  211.655280  13.384109  ...  128.914274

Price                                                     Volume            \
Ticker        AMZN        MSFT       NVDA        SPOT       AAPL      AMZN
0       163.500000  213.526340  13.068231  317.420013  143301900  88228000
1       158.300507  208.469590  13.063743  309.480011   97664900  53110000
2       157.324005  203.585528  13.186157  308.160004  155088000  87896000
3       157.850006  205.379873  12.931857  317.440002  109578200  70290000
4       159.000000  209.832146  13.325770  335.000000  105158200  70754000

Price
Ticker      MSFT       NVDA     SPOT
0       37130100  560640000   945700
1       23823000  322760000   610400
2       35930700  580424000  1024800
3       27694500  461480000   977200
4       22956200  292528000  2199700

[5 rows x 26 columns]

In [5]:
# Extract a clean table of closing prices
prices = extract_price_table(raw_data, price_field="Close")
prices.head()

Ticker            AAPL        AMZN        MSFT       NVDA        SPOT
Date
2021-01-04  125.974457  159.331497  208.882172  13.077456  311.000000
2021-01-05  127.531975  160.925507  209.083694  13.367905  313.720001
2021-01-06  123.239059  156.919006  203.662292  12.579828  314.239990
2021-01-07  127.444359  158.108002  209.457916  13.307323  331.359985
2021-01-08  128.544373  159.134995  210.734116  13.240255  353.109985

In [6]:
# Compute daily returns for each ticker
daily_returns = compute_daily_returns(prices)
daily_returns.head()

Ticker          AAPL      AMZN      MSFT      NVDA      SPOT
Date
2021-01-05  0.012364  0.010004  0.000965  0.022210  0.008746
2021-01-06 -0.033661 -0.024897 -0.025929 -0.058953  0.001657
2021-01-07  0.034123  0.007577  0.028457  0.057830  0.054481
2021-01-08  0.008631  0.006496  0.006093 -0.005040  0.065639
2021-01-11 -0.023249 -0.021519 -0.009698  0.025966 -0.025601

In [7]:
# Compute cumulative returns, starting from an index level of 100
cumulative_returns = compute_cumulative_returns(daily_returns, base=100.0)
cumulative_returns.head()

Ticker            AAPL        AMZN        MSFT        NVDA        SPOT
Date
2021-01-05  101.236376  101.000436  100.096477  102.220991  100.874598
2021-01-06   97.828610   98.485867   97.501041   96.194770  101.041798
2021-01-07  101.166825   99.232107  100.275631  101.757735  106.546619
2021-01-08  102.040029   99.876671  100.886597  101.244889  113.540188
2021-01-11   99.667727   97.727378   99.908155  103.873852  110.633443