In [2]:
# Add the parent directory to the system path for proper module imports
import sys
sys.path.append("..")

In [3]:
# Import the function from the fetch_data.py file
from stock_data.fetch_data import fetch_stock_data
from stock_data.process_data import (
    extract_price_table,
    compute_daily_returns,
    compute_cumulative_returns,
    compute_rolling_volatility,
)

from datetime import datetime

In [4]:
# Define tickers and start date
tickers = ["AAPL", "MSFT", "NVDA", "AMZN", "SPOT"]
start_date = "2021-01-01"

# Fetch the data
raw_data = fetch_stock_data(tickers, start_date=start_date)

# Display the fetched data
raw_data.head()

Price        Date       Close                                                 \
Ticker                   AAPL        AMZN        MSFT       NVDA        SPOT
0      2021-01-04  125.974464  159.331497  208.882217  13.077454  311.000000
1      2021-01-05  127.531982  160.925507  209.083710  13.367906  313.720001
2      2021-01-06  123.239059  156.919006  203.662292  12.579826  314.239990
3      2021-01-07  127.444389  158.108002  209.457947  13.307318  331.359985
4      2021-01-08  128.544388  159.134995  210.734131  13.240253  353.109985

Price         High                                     ...        Open  \
Ticker        AAPL        AMZN        MSFT       NVDA  ...        AAPL
0       130.062961  163.600006  213.977371  13.614973  ...  129.975354
1       128.242613  161.169006  209.678634  13.406549  ...  125.468268
2       127.570927  159.875504  207.730746  13.208593  ...  124.329329
3       128.135547  160.427002  210.465467  13.340975  ...  124.952354
4       129.108992  159.531998  211.655296  13.384107  ...  128.914290

Price                                                     Volume            \
Ticker        AMZN        MSFT       NVDA        SPOT       AAPL      AMZN
0       163.500000  213.526386  13.068229  317.420013  143301900  88228000
1       158.300507  208.469605  13.063744  309.480011   97664900  53110000
2       157.324005  203.585528  13.186155  308.160004  155088000  87896000
3       157.850006  205.379902  12.931853  317.440002  109578200  70290000
4       159.000000  209.832161  13.325768  335.000000  105158200  70754000

Price
Ticker      MSFT       NVDA     SPOT
0       37130100  560640000   945700
1       23823000  322760000   610400
2       35930700  580424000  1024800
3       27694500  461480000   977200
4       22956200  292528000  2199700

[5 rows x 26 columns]

In [ ]:
# Extract a clean table of closing prices
prices = extract_price_table(raw_data, price_field="Close")
prices.head()

Ticker            AAPL        AMZN        MSFT       NVDA        SPOT
Date
2021-01-04  125.974464  159.331497  208.882217  13.077454  311.000000
2021-01-05  127.531982  160.925507  209.083710  13.367906  313.720001
2021-01-06  123.239059  156.919006  203.662292  12.579826  314.239990
2021-01-07  127.444389  158.108002  209.457947  13.307318  331.359985
2021-01-08  128.544388  159.134995  210.734131  13.240253  353.109985

In [6]:
# Compute daily returns for each ticker
daily_returns = compute_daily_returns(prices)
daily_returns.head()

Ticker          AAPL      AMZN      MSFT      NVDA      SPOT
Date
2021-01-05  0.012364  0.010004  0.000965  0.022210  0.008746
2021-01-06 -0.033662 -0.024897 -0.025929 -0.058953  0.001657
2021-01-07  0.034123  0.007577  0.028457  0.057830  0.054481
2021-01-08  0.008631  0.006496  0.006093 -0.005040  0.065639
2021-01-11 -0.023249 -0.021519 -0.009699  0.025967 -0.025601

In [7]:
# Compute cumulative returns, starting from an index level of 100
cumulative_returns = compute_cumulative_returns(daily_returns, base=100.0)
cumulative_returns.head()

Ticker            AAPL        AMZN        MSFT        NVDA        SPOT
Date
2021-01-05  101.236376  101.000436  100.096462  102.221013  100.874598
2021-01-06   97.828604   98.485867   97.501020   96.194769  101.041798
2021-01-07  101.166844   99.232107  100.275624  101.757713  106.546619
2021-01-08  102.040035   99.876671  100.886583  101.244889  113.540188
2021-01-11   99.667715   97.727378   99.908133  103.873875  110.633443

In [8]:
# Describe how rolling volatility is calculated and what it represents. It shows how the stock price fluctuates over time.
rolling_volatility = compute_rolling_volatility(daily_returns, window=21)
rolling_volatility.tail()

Ticker          AAPL      AMZN      MSFT      NVDA      SPOT
Date
2025-11-20  0.147609  0.474978  0.226124  0.471464  0.301801
2025-11-21  0.160334  0.475754  0.227914  0.471297  0.301681
2025-11-24  0.163933  0.481402  0.226934  0.470124  0.274619
2025-11-25  0.146462  0.482291  0.219252  0.465891  0.262355
2025-11-26  0.146445  0.481260  0.216482  0.429580  0.269363